 .accordion-item {
   display: flex;
   height: 100%;
   width: 7%;

   @media screen and (max-width:768px) {
     display: block;
     height: 6%;
     width: 100%;
   }

   &.selected {
     width: 58%;
     display: grid;
     grid-template-columns: 12% 1fr;

     @media screen and (max-width:768px) {
       display: grid;
       grid-template-columns: 100%;
       grid-template-rows: 1fr 12%;
       height: 58%;
       width: 100%;
     }
   }

   .accordion-title {
     cursor: pointer;
     height: 100%;
     width: 100%;
     margin: 0 1px;
     color: white;

     display: flex;
     flex-direction: column;
     justify-content: end;
     align-items: center;

     font-family: 'Poppins';
     font-style: normal;
     font-size: 32px;
     line-height: 100%;

     overflow: hidden;

     background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url(../../../../assets/bg-button-accordion.png);

     @media screen and (max-width:768px) {

       display: flex;
       justify-content: start;
       flex-direction: row;
       align-items: center;

       margin: 2px 0;
       font-size: 18px;

       background: #162C4E;
     }

     @media screen and (max-width:380px) {
      font-size: 15px;
    }

     .title-text {
       order: 2;

       @media screen and (min-width:769px) {
         writing-mode: vertical-rl;
         transform: scale(-1);
         margin-bottom: 15px;
         order: 1;
       }

     }

     .title-number {
       margin: 10px;
       order: 1;

       @media screen and (max-width:768px) {
         order: 1;
       }
     }

     &.selected {
       background: #162C4E;

       @media screen and (max-width:768px) {
         margin: -1px 0;
       }
     }

     @media screen and (max-width:768px) {
       order: 2;
       width: 100%;
     }

   }
 }

 .accordion-content {
   max-width: 0;
   overflow: hidden;


 }

 .display {
   width: 100%;
   max-width: 1000px;
   overflow: hidden;
   display: flex;

   @media screen and (max-width:768px) {
     flex-direction: column;
   }

   .left-content {
     width: 45%;
     background: rgba(18, 18, 18, 0.8);
     color: white;
     font-family: 'Poppins';
     backdrop-filter: blur(20px);
     height: 100%;
     box-sizing: border-box;
     padding: 0 20px 20px 20px;

     display: flex;
     flex-direction: column;
     justify-content: end;

     @media screen and (max-width:768px) {
       order: 2;
       width: 100%;
       height: 40%;
       padding: 10px 20px;
     }

     .left-title {
       font-size: 24px;
       line-height: 120%;
       margin-bottom: 20px;

       @media screen and (max-width:768px) {
         font-size: 18px;
         line-height: 120%;
         margin-bottom: 10px;
       }

       @media screen and (max-width:380px) {
         font-size: 16px;
       }

     }

     .left-date {
       margin-bottom: 20px;
       font-weight: 400;
       font-size: 18px;
       line-height: 150%;
       color: rgba(255, 255, 255, 0.8);

       @media screen and (max-width:768px) {
         font-size: 14px;
         line-height: 120%;
         margin-bottom: 10px;
       }

       @media screen and (max-width:380px) {
         font-size: 12px;
       }
     }

     .left-butt {
       cursor: pointer;
       padding: 5px 0;
       border: 1px solid white;
       background: rgba(255, 255, 255, 0);
       backdrop-filter: blur(20px);
       font-size: 18px;

       width: 90%;
       height: 62px;

       letter-spacing: 0.03em;

       color: rgba(255, 255, 255, 0.8);

       @media screen and (max-width:768px) {
         width: 169px;
         height: 44px;
         font-size: 14px;
         line-height: 120%;
         margin-bottom: 10px;
       }
     }
   }

   .right-content {
     width: 55%;
     height: 100%;

     img {
       width: auto;
       height: 100%;

       @media screen and (max-width:768px) {
         width: 100%;
         height: auto;
       }
     }

     @media screen and (max-width:768px) {
       order: 1;
       width: 100%;
       height: 60%;
     }
   }
 }
